/* Harmonize box-sizing models. */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Remove default margins. */
* {
  margin: 0;
}

/* Improve default scrolling behaviour. */
html {
  scroll-behavior: smooth;
}

/* Prevent adjustments of font size after orientation changes in iOS. */
html {
  -webkit-text-size-adjust: 100%;
}

/* Improve line-height and text rendering defaults. */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults. */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove default form typography styles. */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve the default way text is wrapped. */
/*p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}*/

/* Remove default link color styles. */
a {
  color: inherit;
}

/* Improve default abbreviation border/text decoration styles. */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* Prevent sub and sup elements from affecting line heights. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Improve attribute hidden defaults. */
[hidden] {
  display: none;
}

/* Custom style for enabling elements only for screen readers. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
