@page {
  size: a4 portrait;
  margin: 1cm 1cm;
}

html,
body {
  background-image: none !important;
  background-color: #ffffff !important;
  color: #000000 !important;
}

body > main {
  padding-block-start: 1cm;
}

body > header,
body > footer {
  display: none;
}
